.section-create-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section-add-new-post{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 50px;
}
.section-showingposts{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 50px;
}